@model IEnumerable<Category>

@{
   // ViewData["Title"] = "Strona główna";
    ViewBag.Title = "Strona główna";
}

<div class="text-center">

    <ul>
    @foreach (var category in Model)
    {
        <li>
            @category.Name <span> - </span> <i> @category.Desc </i>
        </li>
    }
    </ul>
</div>
